{% extends 'videobase.html' %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
<title>Upload page</title>
<script>
var _validFileExtensions = [".mp4", ".mkv"];    
function Validate(oForm) {
    var arrInputs = oForm.getElementsByTagName("input");
    for (var i = 0; i < arrInputs.length; i++) {
        var oInput = arrInputs[i];
        if (oInput.type == "file") {
            var sFileName = oInput.value;
            if (sFileName.length > 0) {
                var blnValid = false;
                for (var j = 0; j < _validFileExtensions.length; j++) {
                    var sCurExtension = _validFileExtensions[j];
                    if (sFileName.substr(sFileName.length - sCurExtension.length, sCurExtension.length).toLowerCase() == sCurExtension.toLowerCase()) {
                        blnValid = true;
                        break;
                    }
                }
                
                if (!blnValid) {
                    alert("Sorry, " + sFileName + " is invalid, allowed extensions are: " + _validFileExtensions.join(", ") + " only.");
                    return false;
                }
            }
        }
    }
  
    return true;
}
</script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload File</title>
    {% load static %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300&display=swap" rel="stylesheet">
 
</head>

<body style="padding-bottom:10px;" >
<br><br>
<form method="POST" action="{% url 'upload' %}" enctype="multipart/form-data" onsubmit="return Validate(this);" >
  {% csrf_token %}
  <div class="container-2">

    <div class="container-2-box">

    </div>
    <div class="container-2-box">
      <div class='container-3'>
        <div class='container-2-box'>

              <div class="ui fluid segment" style="background-color:#2185d0;">
                <h5 style="color:black;">(Please note that your files must be in .mkv or .mp4 format only. Other formats are not supported.)</h5>

                <div class = 'center'>
                  
                  <label for="hidden-new-file" class="ui icon button ui huge blue floated" style='width:650px;'>
                    
                    <form> 
                      <div class="form-group">
                        <input type="file" required class="form-control-file" id="exampleFormControlFile1" name="video">
                      </div>
                    </form>
                 
                    <i class="ui upload icon "></i>
                    Upload Video
                  </label>
                  <!-- <input type="file" id="hidden-new-file" style="display: none" name='video'> -->
                </div>        
              </div>

          <div class="ui form">
            <div class="field">
              <label><h4 style="color: white; ">Title</h4></label>
              <input type="text" name="title" style=" font-size:larger;" required >
            </div>

            <div class="ui form">
              <div class="field">
                <label><h4 style="color: white;">Description</h4></label>
                <textarea required style="margin-top: 0px; margin-bottom: 0px; height: 165px; font-size:larger;" name='description'></textarea>
              </div>
            </div>
<br> <br>
            <input class="ui teal basic button" type='submit' 
            style='float:left; margin-bottom:20px; padding: 16px; font-size:larger; width:150px;' name='submitbutton' >  
          </div>

        </div>
        <div class='container-3-box'>

        </div>
      </div>
    </div>

    <div class="container-2-box">

    </div>
  </div>

</form>

{% endblock %}

</body>

</html>