<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login To proceed.</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300&display=swap" rel="stylesheet">
</head>
<body style=" background-color:  #1b2125;">
    <div class="container">
      <form action="" method="POST">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-4">

            </div>
            <div class="col-md-4">
                <h2 style="text-align: center;">Signup for a new account &copy;
                </h2>
                     <label for="inputName4">First Name</label>
                     <input type="text" class="form-control" id="inputName4" placeholder="Enter name" name="firstname"> 
                     <br>
                     <label for="inputName4">Last Name</label>
                     <input type="text" class="form-control" id="inputName4" placeholder="Enter name" name="lastname"> 
                     <br>
                    <label for="inputEmail4">Email</label>
                    <input type="email" class="form-control" id="inputEmail4" placeholder="Enter Email" name="email">     
                    <br>

                    <label for="inputName1">Userame</label>
                    <input type="text" class="form-control" id="inputName1" placeholder="Enter name" name = "username"> 
                    <br>
                    <label for="contact_no"> Contact_no </label>
                    <input type="text" class = "form-control" name="contact_no" id="contact_no">
                    <br>
                    <label> Profile Picture (optional) </label>
                    <input type="file" class="form-control" name="picture">
                    <br>
                    <label for="inputPassword1">Password</label>
                    <input type="password" class="form-control" id="inputPassword1" placeholder="Password" name="password1">
                    <br>
                    <label for="inputPassword2">Confirm Password</label>
                    <input type="password" class="form-control" id="inputPassword1" placeholder="Retype Password" name= "password2">
                    <br>                 
            </div>
            <div class="col-md-4">
                <a href="../login">Already a User? Click here to login.</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
               
            </div>

            <div class="col-md-7">
                <button type="submit" class="btn btn-primary" href="admin">Sign Up & continue</button>
                
            </div>
        </div>
        <div class="row">
          <div class="col-md-5">
              <span>All rights reserved &female;</span>
          </div>
        </div>
      </form>

    </div>
   <style>
       .body{
        background-color:  #1b2125;
       }
       .container{
           
           font-family: 'Chakra Petch', sans-serif !important; 
           color: white;
           padding: 40px;
           align-items: center;
       }
       button{
         background-color: rgb(24, 107, 120) !important;
         
         }
   </style>
</body>
</html>